<!DOCTYPE html>
<html>
  <head>
    <title>Multiplication</title>
  </head>
  <body>
    <div>
      <h1>Enter Two Numbers to Multiply!</h1>
      <form method="post" action="/multiply">
        <input name="number1" type="integer">
        <input name="number2" type="integer">
        <input type="submit" value="Multiply">
        <p> Product is: <%= product %> </p>
      </form>
    </div>
  </body>
</html>
